<% @services.each do |service|  %> <hr>
  <%= service.type_of_service %><br>
  <%= service.description %>
  <p><%= link_to "View the team", pros_path(service_name: service.type_of_service) %></p>

<% end %>

