.hello {
  margin: 8px;
  background-color: #262626;
  color: #FBFBFB;
  display: inline-block;
  padding: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-project {
  margin: 8px;
  background-color: #262626;
  color: #FBFBFB;
  box-shadow: 30;
  padding: 35px;
}


.card-book {
  margin: 8px;
  background-color: #262626;
  color: #FBFBFB;
  box-shadow: 30;
  padding: 35px;
}

