.dashboard-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(150px, auto);
  padding: 25px;
  background: #333;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 753px;
  display: left;
  max-width: 1100px;
  .create-button {
  margin-left: 120px;
  margin-top: 120px;
  }
  .card-team {
  margin: 8px;
  margin-left: 20px;
  background-color: #262626;
  color: #FBFBFB;
  box-shadow: 30;
  padding: 35px;
  padding-right: 35px;
  overflow: hidden;
  height: 250px;
  width: 450px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  right: 26%;
  bottom: 2.5%;
    h3 {
      position: absolute;
      top: 10%;
    }
  }
}

.hello {
  margin: 0px;
  margin-top: 20px;
  background-color: #99a8df;
  color: #FBFBFB;
  padding: 15px;
  padding-right: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 15px;
  h1 {
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 20px;
    text-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
  img {
    position: absolute;
    top: 0.5%;
    left: 50%;
    height: 300px;
    width: 300px;
  }
}

#iframe {
  border-radius: 15px;
}

.dashboard-container {
  // align-items: center;
  justify-content: space-evenly;
  .spotify_card {
  margin-right: 10px;
  border-radius: 15px;
  float: right;
  margin-top: 40px;
  border-radius: 15px;
    .iframe {
      border-radius: 15px;
    }
  }
}

.project-div {
  max-height: 35vh;
  overflow: scroll;

}

.container-item {
  flex-grow: 1;
}

.card-project {
  margin-bottom: 60px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #262626;
  color: #FBFBFB;
  box-shadow: 30;
  padding: 35px;
  padding-right: 35px;
  overflow: hidden;
  height: 220px;
  width: 900px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.card-product-image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 15px;
}

.card-project-infos h3{
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 16px;
}

.card-project-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 16px;

}


.card-book {
  background-color: #262626;
  color: #FBFBFB;
  box-shadow: 30;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  height: 250px;
  width: 530px;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
}


.start-new-div {
  width: 100%;
  margin-right: 200px;
}


.card-new {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.card-team {
  margin: 8px;
  margin-left: 20px;
  background-color: #262626;
  color: #FBFBFB;
  box-shadow: 30;
  padding: 35px;
  padding-right: 35px;
  overflow: hidden;
  height: 220px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

