.container-sign-up {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#card-sign-up-form {
  align-items: center;
  text-align: center;
  background-color: #262626;
  color: #FBFBFB;
  display: inline-block;
  padding: 35px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

