.mess-box {

}

.mess-avatar {
  background-color:#FBFBFB;
  color: #262626;
  li {
    list-style-type: none;
    border-bottom: 1px solid #262626;
  }

  border-radius: 8px;
  padding: 8px;
}

.mess.info {
}

.mess-message {
  border-radius: 4px;
}

.round {
  background-color: #99a8df;
  border-radius: 50px;
}

.form-control {
  background-color: #333;
  border: none;
  color: #FBFBFB;
  border-radius: 15px;
  transition: none;
  width: 70%;
  margin-left: 200px;
  :focus {
    background-color: #333;
    border: none;
    color: #FBFBFB;
  }
}
 .form-control :focus {
  background-color: #333;
  border: none;
  color: #FBFBFB;
 }

.text-right {
  width: 100%;
  display: flex;
  span {
    margin-left: auto;
  }
}

.text-left {
  display: flex;
  width: 100%;
  margin-right: auto;
  span {
    order: 2;
    margin-left: 8px;
  }
  img {
    order: 1;
  }
}

.fake-image {
  width: 40px;
}

.move-b{
  margin-left: 530px;
}
