.mess-box {

}

.mess-avatar {
  background-color:#FBFBFB;
  color: #262626;
  li {
    list-style-type: none;
    border-bottom: 1px solid #262626;
  }

  border-radius: 8px;
  padding: 8px;
}

.mess.info {
}

.mess-message {
  border-radius: 4px;
}
