<h1>Index of Professionals</h1>


<% @pros.each do |pro|%> <hr>
<h6><%= pro.first_name %></h6>
<h6><%= pro.last_name %></h6>
<h6><%= pro.bio %></h6>
<%= link_to "More info", user_path(pro),  class: "btn btn-dark"%>

<% end %>
