<div class="profile-card">

  <div class="hero-image">
    img
  </div>

  <div class="content">
    <div class="profile-left">
      <div class="profile-card-image">
        img
      </div>
      <div>this is to update profile image</div>
      <div>this is the about section</div>
      <div>this is for social media</div>
    </div>

    <div class="profile-right">
      <div class="profile-header">
        <h1><%= @user.artist_name.upcase %></h1>
        <h6><%= @user.first_name %> <%= @user.last_name %> </h6>
      </div>
      <div class="profile-spotify">
        <iframe src="https://open.spotify.com/embed/artist/3ccrJOoILrsst0M1V0PlP3" width=100% height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <div class="profile-subheader">
        this is the ongoing pros
        <div class="albums-row">
          this is for ongoing albums
        </div>
      </div>
      <div class="profile-subheader">
        this is the completed pros
         <div class="albums-row">
          this is for ongoing albums
        </div>
      </div>
    </div>


  </div>

</div>
