<div class="top">

<!--   svg of holy coven logo, each path is one letter -->
  <svg id="logo" width="505" height="64" viewBox="0 0 505 64" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M49.6915 4.15998V60H38.4916V36.24H14.5716V60H3.37155V4.15998H14.5716V27.12H38.4916V4.15998H49.6915Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  <path d="M86.6353 60.56C81.4086 60.56 76.6086 59.3333 72.2353 56.88C67.862 54.4266 64.3953 51.04 61.8353 46.72C59.2753 42.3467 57.9953 37.4133 57.9953 31.92C57.9953 26.48 59.2753 21.6 61.8353 17.28C64.3953 12.9066 67.862 9.49331 72.2353 7.03998C76.6086 4.58665 81.4086 3.35999 86.6353 3.35999C91.9153 3.35999 96.7153 4.58665 101.035 7.03998C105.409 9.49331 108.849 12.9066 111.355 17.28C113.915 21.6 115.195 26.48 115.195 31.92C115.195 37.4133 113.915 42.3467 111.355 46.72C108.849 51.04 105.409 54.4266 101.035 56.88C96.662 59.3333 91.862 60.56 86.6353 60.56ZM86.6353 50.56C89.9953 50.56 92.9553 49.8133 95.5153 48.32C98.0753 46.7733 100.075 44.5867 101.515 41.76C102.955 38.9333 103.675 35.6533 103.675 31.92C103.675 28.1866 102.955 24.9333 101.515 22.16C100.075 19.3333 98.0753 17.1733 95.5153 15.68C92.9553 14.1867 89.9953 13.44 86.6353 13.44C83.2753 13.44 80.2886 14.1867 77.6753 15.68C75.1153 17.1733 73.1153 19.3333 71.6753 22.16C70.2353 24.9333 69.5153 28.1866 69.5153 31.92C69.5153 35.6533 70.2353 38.9333 71.6753 41.76C73.1153 44.5867 75.1153 46.7733 77.6753 48.32C80.2886 49.8133 83.2753 50.56 86.6353 50.56Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  <path d="M134.728 51.12H153.128V60H123.528V4.15998H134.728V51.12Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  <path d="M204.647 4.15998L185.767 40.56V60H174.567V40.56L155.607 4.15998H168.247L180.247 29.68L192.167 4.15998H204.647Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  <path d="M227.448 32C227.448 26.5067 228.675 21.6 231.128 17.28C233.635 12.9066 237.022 9.51998 241.288 7.11998C245.608 4.66665 250.435 3.43998 255.768 3.43998C262.008 3.43998 267.475 5.03998 272.168 8.23998C276.862 11.44 280.142 15.8666 282.008 21.52H269.128C267.848 18.8533 266.035 16.8533 263.688 15.52C261.395 14.1866 258.728 13.52 255.688 13.52C252.435 13.52 249.528 14.2933 246.968 15.84C244.462 17.3333 242.488 19.4666 241.048 22.24C239.662 25.0133 238.968 28.2667 238.968 32C238.968 35.68 239.662 38.9333 241.048 41.76C242.488 44.5333 244.462 46.6933 246.968 48.24C249.528 49.7333 252.435 50.48 255.688 50.48C258.728 50.48 261.395 49.8133 263.688 48.48C266.035 47.0933 267.848 45.0667 269.128 42.4H282.008C280.142 48.1067 276.862 52.56 272.168 55.76C267.528 58.9067 262.062 60.48 255.768 60.48C250.435 60.48 245.608 59.28 241.288 56.88C237.022 54.4266 233.635 51.04 231.128 46.72C228.675 42.4 227.448 37.4933 227.448 32Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  <path d="M317.495 60.56C312.268 60.56 307.468 59.3333 303.095 56.88C298.721 54.4266 295.255 51.04 292.695 46.72C290.135 42.3467 288.855 37.4133 288.855 31.92C288.855 26.48 290.135 21.6 292.695 17.28C295.255 12.9066 298.721 9.49331 303.095 7.03998C307.468 4.58665 312.268 3.35999 317.495 3.35999C322.775 3.35999 327.575 4.58665 331.895 7.03998C336.268 9.49331 339.708 12.9066 342.215 17.28C344.775 21.6 346.055 26.48 346.055 31.92C346.055 37.4133 344.775 42.3467 342.215 46.72C339.708 51.04 336.268 54.4266 331.895 56.88C327.521 59.3333 322.721 60.56 317.495 60.56ZM317.495 50.56C320.855 50.56 323.815 49.8133 326.375 48.32C328.935 46.7733 330.935 44.5867 332.375 41.76C333.815 38.9333 334.535 35.6533 334.535 31.92C334.535 28.1866 333.815 24.9333 332.375 22.16C330.935 19.3333 328.935 17.1733 326.375 15.68C323.815 14.1867 320.855 13.44 317.495 13.44C314.135 13.44 311.148 14.1867 308.535 15.68C305.975 17.1733 303.975 19.3333 302.535 22.16C301.095 24.9333 300.375 28.1866 300.375 31.92C300.375 35.6533 301.095 38.9333 302.535 41.76C303.975 44.5867 305.975 46.7733 308.535 48.32C311.148 49.8133 314.135 50.56 317.495 50.56Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  <path d="M404.547 4.15998L384.067 60H370.467L349.987 4.15998H361.987L377.347 48.56L392.627 4.15998H404.547Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  <path d="M422.462 13.2V27.2H441.262V36.08H422.462V50.88H443.662V60H411.262V4.07998H443.662V13.2H422.462Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  <path d="M501.6 60H490.4L465.04 21.68V60H453.84V4.07998H465.04L490.4 42.48V4.07998H501.6V60Z" stroke="#FFFCFC" stroke-width="3" mask="url(#path-1-outside-1)"/>
  </svg> <hr>


  <% if user_signed_in?%>
    <%= link_to "Go to dashboard", dashboard_path, class: "btn btn-dark" %>
  <% else %>
    <%= link_to "Explore the Coven", new_user_registration_path, class: "btn btn-danger" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-dark" %>
  <% end %>

</div>

<div class="bottom">
  <div class="container-home">

    <div class="accordion">
      <dl>
        <dt>
          <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Our Services</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu interdum diam. Donec interdum porttitor risus non bibendum. Maecenas sollicitudin eros in quam imperdiet placerat. Cras justo purus, rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec elit faucibus condimentum. Donec facilisis consectetur enim sit amet varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget mauris. </p>
          <p>Aliquam dapibus, ante quis fringilla feugiat, mauris risus condimentum massa, at elementum libero quam ac ligula. Pellentesque at rhoncus dolor. Duis porttitor nibh ut lobortis aliquam. Nullam eu dolor venenatis mauris placerat tristique eget id dolor. Quisque blandit adipiscing erat vitae dapibus. Nulla aliquam magna nec elementum tincidunt.</p>
        </dd>
      </dl>
    </div>
  </div>
</div>
