<div id="project-form">
  <%= render partial: 'projects/form', locals: {model: @project, url: projects_path, verb: :post} %>
</div>
<div class="card-new">
  <%= link_to "Return to dashboard", dashboard_path %>
</div>
