.empty-profile-right-card {
  display:grid;
  grid-template-rows: 88px 1fr;
  grid-template-columns: 1fr;
  background: #262626;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  p {
  color: #FBFBFB;
  text-align: center;
  margin: auto;
  }
}

.albums-one {
  display:grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: (150px 1fr) auto;
  position:relative;
  border-bottom: 1px solid #626262;
  padding-bottom: 24px;
  margin-bottom: 16px;
  .release-info {
    padding: 0px 24px 0px 8px;
    margin: auto 0;
    color: #FBFBFB;
    h6 {
      font-size: 16px;
      margin: 0;
    }
    p{
      font-size: 12px;
      margin:0;
    }
  }
}

.albums-two {
  display:grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: repeat(2,(150px 1fr));
  position:relative;
  border-bottom: 1px solid #626262;
  padding-bottom: 24px;
  margin-bottom: 16px;
  .release-info {
    padding: 0px 24px 0px 8px;
    margin: auto 0;
    color: #FBFBFB;
    h6 {
      font-size: 16px;
      margin: 0;
    }
    p{
      font-size: 12px;
      margin:0;
    }
  }
}

.albums-three {
  display:grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: repeat(3, 1fr);
  // background: #626262;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid #626262;
  border-radius: 2px;
  color: #FBFBFB;
}


.albums-four {
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns:6fr;
  position:relative;
  background: #262626;
}
.circle-row{
  display: grid;
  grid-template-rows: 1fr;
  height: 102px;
  grid-template-columns: repeat(6, auto);
  position: relative;
  margin-bottom: 16px;



.circle-card {
    background: #0A090A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 96px;
    width: 96px;
    margin-left: 0;
    position: relative;
    border-right: 1px solid #FBFBFB;



    p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FBFBFB;
      font-size: 12px;
      text-align: center;

    }
}}
