.card-project-show {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  height: 550px;
  width: 550px;
  position: absolute;
  top: 15%;
  left: 28%;
  // overflow: auto;
  .avatar-big {
    position: relative;
    top: -95px;
  }
  .card-footer {
    position: absolute;
    bottom: 10px;
    left: 34%;
    position: center;
  }
  h2 {
    position: relative;
    top: -55px;
  }
  h6 {
    position: relative;
    top: -95px;
  }
  .brk-btn {
    position: relative;
    top: -45px;
  }
}

.card-booking-show {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  height: 350px;
  width: 350px;
  position: absolute;
  left: 37%;
  top: 30%;
    .avatar-big {
    position: relative;
    top: -80px;
  }
  p {
    top: 20%;
  }
}
