.card-user-profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #262626;
  margin: 64px 152px 64px 152px;
  position:relative;
  height: 800px;
}

.hero-image img {
  margin-top: 0px;
  width: 100%;
  height: 240px;
  opacity: 20%;
  object-fit: cover;
}

.profile-card {
  border-radius: 1%;
  position:absolute;
  top:-160px;
  left:50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  height: 600px;
  text-align: left;
  background-color: #646464;
}

  .profile-card img{
    width: 280px;
    height: 280px;
    margin-top: 0px;
    object-fit: cover;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
  }

  .profile-text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0px 24px;
    color: #FBFBFB;
    font-size: 12px;
}

.spotify-link {
    color: #f8f9fa;
    background-color: transparent;
    border: 1px solid #f8f9fa;
}



.profile{
      padding: 10px 10px 5px 50px;
      position: relative;
    }


  .profile_header {
    position: relative;
    top: -100px;
    margin-bottom: 10px;
    // padding: 10px 10px 5px 50px;
    h1 {
      color: #FBFBFB;
    }
    p {
      color: #FBFBFB;
    }

  }

  .profile-body {
    margin-left: 8px;
    // padding: 10px 10px 5px 50px;
    // position: absolute;
    width: 700px;
    font-family: Poppins;

    h3 {
      color: #FBFBFB;

    }
    h6 {
      color: #FBFBFB;
    }
}
.view-more h1{
  color: #FBFBFB;
  font-family: Poppins;
  font-size: 12px;
  vertical-align: center;
}
