.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #262626;
  margin: 48px 88px 64px 88px;
  // display: flex;
  // justify-content: space-between;
  // padding: 10px 50px 10px 50px;
  // flex-direction: row;
  // align-items: flex-start;
  position:relative;
  // padding: 10px 50px 10px 50px;
  height: 1200px;
}


.hero-image img{
  margin-top: 0px;
  width: 100%;
  height: 240px;
  opacity: 20%;
  object-fit: cover;
}
.profile_image img{
  vertical-align: middle;
  width: 280px;
  margin-top: 0px;
  height: 280px;
  object-fit: cover;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

.profile-card {
  border-radius: 1%;
  position:absolute;
  top:-160px;
  left:88px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  height: 600px;
  text-align: left;
  background-color: #646464;
  font-family: Poppins;

  .profile-text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0px 24px;
    color: #FBFBFB;
}

.spotify-link {
    color: #f8f9fa;
    background-color: transparent;
    border: 1px solid #f8f9fa;
}

}

.profile-header {
  position: absolute;
  top: -100px;
  margin-left: 8px;
  padding: 10px 10px 5px 10px;
  h1 {
    color: #FBFBFB
  }
  p {
    color: #FBFBFB
  }

}

.profile-body {
  margin-left: 8px;
  padding: 10px 10px 5px 10px;
  position: absolute;
  width: 700px;
  font-family: Poppins;

  h3 {
    color: #FBFBFB;

  }
  h6 {
    color: #FBFBFB
  }
}

